*{
  box-sizing: border-box;
}
.background{  
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./assets/FlashcardBackground.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex; 
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
}

.flashcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.button-container {
  margin-top: 20px;
}


button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}



h1 {
  font-size: 2.5rem; 
  color: #2c3e50; 
  text-align: center; 
  
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; 
  border-bottom: 4px solid #3498db;
  padding-bottom: 10px;
}

/* Subheading (h2) */
h2 {
  font-size: 2rem; 
  color: #34495e; 
  margin-top: 30px; 
  margin-bottom: 15px; 
  font-weight: 600; 
  text-align: left; 
  font-style: italic;
  padding-bottom: 30px;
}
.inputstyle{
 padding-bottom: 20px
}

input{
  height: 45px;
  width: 300px;
  border-radius:10px;
 

}
.submitbutton{
  height: 45px;
  border-radius: 10px;
}